In [67]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import mysql.connector as connection

In [57]:
#contraseña del servidor
cont = "SQL17Agosto1994"

In [11]:
def cod_cientific(valor):
    if type(valor) != "str" :
        valor = str(valor)
    if (valor.find("E") != -1):
         lista  =valor.split("E")
         num_str = lista[0]
         num_str = num_str.replace(",",".")
         num = float(num_str)
         mult_str = lista[1]
         mult = int(mult_str[1:])
         return (int(num*(10**mult)))
    return int(valor)
def llevar_13(valor):
    if type(valor) != "str" :
        valor = str(valor)
    while len(valor)<13:
        valor = "0" + valor
    return valor
def sacaguion(valor):
    if type(valor) != "str" :
        valor = str(valor)
    if (valor.find("-") != -1):
        return valor.split("-")[2]
    return valor
def redondeo(valor):
    if type(valor) != "float" :
        try:
            valor = float(valor)
        except: 
            return valor
    valor = round(valor,2)
    return valor

In [46]:
precios_sem2 = pd.read_json("/Users/matias/Documents/cursos_data/2022 Soy Henry Data Science/PI /PI01_DATA_ENGINEERING-main/Datasets/precios_semana_20200503.json")

In [19]:
precios_sem3 = pd.read_csv("/Users/matias/Documents/cursos_data/2022 Soy Henry Data Science/PI /PI01_DATA_ENGINEERING-main/Datasets/2precios_semana_20200518 copy.csv", sep="|")

In [50]:
precios_sem4_1 = pd.read_csv("/Users/matias/Documents/cursos_data/2022 Soy Henry Data Science/PI /PI01_DATA_ENGINEERING-main/Datasets/2.1precios_semanas_20200419_20200426.csv",sep=";")

/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/2941472891.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  precios_sem4_1 = pd.read_csv("/Users/matias/Documents/cursos_data/2022 Soy Henry Data Science/PI /PI01_DATA_ENGINEERING-main/Datasets/2.1precios_semanas_20200419_20200426.csv",sep=";")

In [55]:
precios_sem4_2 =pd.read_csv("/Users/matias/Documents/cursos_data/2022 Soy Henry Data Science/PI /PI01_DATA_ENGINEERING-main/Datasets/2.2precios_semanas_20200419_20200426.csv",sep=";")

/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/1126922284.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  precios_sem4_2 =pd.read_csv("/Users/matias/Documents/cursos_data/2022 Soy Henry Data Science/PI /PI01_DATA_ENGINEERING-main/Datasets/2.2precios_semanas_20200419_20200426.csv",sep=";")

In [68]:
def CargaDataFrame(DataFrame):
    columnas = ['precio', 'sucursal_id', 'producto_id']
    if str(type(DataFrame)) != "<class 'pandas.core.frame.DataFrame'>":
        print("Falla en la carga, inserte en el primer argumento un DataFrame de Pandas")
        return None
    if DataFrame.shape[1] != 3:
        print("Falla en la carga, el DataFrame tiene que poseer 3 columnas (en ese orden): ""precio"", ""producto_id"", ""sucursal_id"" ")
        return None
    if DataFrame.columns[0] not in columnas or DataFrame.columns[1] not in columnas or DataFrame.columns[2] not in columnas:
        print("Los nombres de las columnas son incorrectos, ellos deben ser ", columnas, " respetando las minúsculas")
        return None
    DataFrame = DataFrame[["precio","producto_id", "sucursal_id"]] #acomoda orden 
    DataFrame.dropna(thresh=3, inplace=True) #eliminamos filas vacías
    DataFrame.dropna(subset="producto_id", inplace=True) #eliminamos las filas que tengan el id de producto vació
    DataFrame["producto_id"] = DataFrame["producto_id"].apply(sacaguion) #sacamos el guion y nos quedamos con el valor de 13 dígitos
    DataFrame["producto_id"] = DataFrame["producto_id"].apply(cod_cientific) #procesamos los que tienen notación científica
    DataFrame["precio"] = DataFrame["precio"].apply(redondeo) #redondeamos el precio a dos decimales
    DataFrame["producto_id"] = DataFrame["producto_id"].apply(llevar_13) #agregamos ceros delante de los Id para que tengan 13 dígitos como el código de barras
    DataFrame["sucursal_id"] = DataFrame["sucursal_id"].replace(to_replace="/",value="-",regex=True) #Cambiamos las barras laterales para igualar todos los id de sucursal
    DataFrame.drop_duplicates(inplace=True) #eliminamos filas duplicadas
    print("El DataFrame fue normalizado correctamente")
    #Guardamos el DataFrame en nuestra base de datos en MySQL
    cadena_conexion = "mysql+pymysql://root:" + cont + "@localhost:3306/P1_v1"
    conexion = create_engine(cadena_conexion)
    precios_sem1.to_sql(name='Precio_semana', con = conexion, if_exists= "append", index=False) #index le indicamos que no esta indexado 
    print("Los archivos pertenecientes al DataFrame se cargaron correctamente")
    return(DataFrame)

In [7]:
precios_sem1 = pd.read_csv("/Users/matias/Documents/cursos_data/2022 Soy Henry Data Science/PI /PI01_DATA_ENGINEERING-main/Datasets/precios_semana_20200413.csv", sep=",",encoding="UTF-16LE")

In [69]:
sem1 = CargaDataFrame(precios_sem1)

El DataFrame fue normalizado correctamente
Los archivos pertenecientes al DataFrame se cargaron correctamente

In [70]:
sem2 = CargaDataFrame(precios_sem2)

El DataFrame fue normalizado correctamente
Los archivos pertenecientes al DataFrame se cargaron correctamente

In [71]:
sem3 = CargaDataFrame(precios_sem3)

El DataFrame fue normalizado correctamente
Los archivos pertenecientes al DataFrame se cargaron correctamente

In [ ]:
sem4_1 = CargaDataFrame(precios_sem4_1)

In [73]:
sem4_2 = CargaDataFrame(precios_sem4_2)

/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame.dropna(thresh=3, inplace=True) #eliminamos filas vacías
/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame.dropna(subset="producto_id", inplace=True) #eliminamos las filas que tengan el id de producto vació
/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame["producto_id"] = DataFrame["producto_id"].apply(sacaguion) #sacamos el guion y nos quedamos con el valor de 13 dígitos
/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame["producto_id"] = DataFrame["producto_id"].apply(cod_cientific) #procesamos los que tienen notación científica
/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame["precio"] = DataFrame["precio"].apply(redondeo) #redondeamos el precio a dos decimales
/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame["producto_id"] = DataFrame["producto_id"].apply(llevar_13) #agregamos ceros delante de los Id para que tengan 13 dígitos como el código de barras
/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame["sucursal_id"] = DataFrame["sucursal_id"].replace(to_replace="/",value="-",regex=True) #Cambiamos las barras laterales para igualar todos los id de sucursal
/var/folders/4h/zd1h7yk93j37j92519m4z_y80000gn/T/ipykernel_3546/3868802454.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  DataFrame.drop_duplicates(inplace=True) #eliminamos filas duplicadas

El DataFrame fue normalizado correctamente
Los archivos pertenecientes al DataFrame se cargaron correctamente

In [40]:
str(type(precios_sem1))

"<class 'pandas.core.frame.DataFrame'>"

In [ ]:
#De mysql a data frame
try:
    mydb = connection.connect(host="localhost", database = '',user="root", passwd="root",use_pure=True)
    query = "Select * from studentdetails;"
    result_dataFrame = pd.read_sql(query,mydb)
    mydb.close() #close the connection
except Exception as e:
    mydb.close()
    print(str(e))

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':
/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/mysql/connector/abstracts.py:130: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if group is 'connector_python':

NameError: name 'mydb' is not defined

In [ ]:
import pymysql
from sqlalchemy import create_engine
import mysql.connector as connection

In [ ]:
# echo=False ==> nos permitira adentro de la conexion hacer que no imprima en terminal lo que trae
cadena_conexion = 'mysql+pymysql://root:SQL17Agosto1994@localhost:3306/P1_v1'

In [ ]:
conexion = create_engine(cadena_conexion)

In [ ]:
precios_sem1.to_sql(name='Prueba1', con = conexion, if_exists= "append", index=False) #index le indicamos que no esta indexado

472131